.carousel {
  width: 100%;
  position: relative;
  padding: 8rem 0.5rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: gray;
  text-align: center;
  font-family: sans-serif;
}

.slide {
  width: 13vw;
  max-width: 25rem;
  height: 45vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 0.3rem;
  filter: grayscale(1) opacity(0.1) contrast(200%);
  transition: 0.5s;
  transform: skewY(-10deg);
}

.carousel div:nth-child(1) {
  background-image: url("./../../assets/images/12.jpg");
}
.carousel div:nth-child(2) {
  background-image: url("./../../assets/images/10.jpg");
}
.carousel div:nth-child(3) {
  background-image: url("./../../assets/images/3.jpg");
}
.carousel div:nth-child(4) {
  background-image: url("./../../assets/images/8.jpg");
}
.carousel div:nth-child(5) {
  background-image: url("./../../assets/images/4.jpg");
}
.carousel div:nth-child(6) {
  background-image: url("./../../assets/images/5.jpg");
}
.carousel div:nth-child(7) {
  background-image: url("./../../assets/images/6.jpg");
}

.hover,
.slide:hover {
  filter: grayscale(0) opacity(1);
  transform: scale(1.1);
  box-shadow: 0 25px 50px #000;
  z-index: 8;
}
